
{% extends 'layout.html' %}

{% load static %}

{% block page_title %}
  Kurslar
{% endblock %}

{% block css_files %}

<link rel="stylesheet" href="{% static 'courses/css/style.css'%}">

{% endblock  %}

{% block bootstrap %}{% endblock  %}

{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-3">
      {% include 'courses/partials/_categories.html' %}
    </div>
    <div class="col-9">
        {% for course  in courses %}

          {%if course.isActive%}
           {% include 'courses/partials/_course.html' %}

          {% endif %}
        {% endfor %}
        </div>
      </div>

{% endblock %}

{% block js_files %}
<script src="{% static 'courses/js/script.js' %}"></script>
{% endblock  %}
